/*colour scheme
@darkRed: #BB2D04;
@yellow: #EAAB34;
@darkGreen: #3D5518;
@olive: #7A7120;
@lightGreen: #808B2A;

/*fonts
Signika - title
Cuprum - title
Monospace - p + text
*/

/*background image size
1920 x 1080
*/

html body {
  height: 100%;
  width: 100%;
}

.row.justify-content-center.align-items-center {
  height: 100%;
  min-height: 100%;
}

#main-page {
	background-image: url('img/kum_2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.navbar {
	background-color: #EAAB3499; /* translucent yellow */
}
.nav-link {
	color: black;
	float: right !important;
	font-family: Signika;
	font-size: 24px;
}
.nav-link:hover {
  color: #3D5518; /*dark olive*/
}
.red-links {
	color: #BB2D04; /*dark red*/
}
.red-links:hover {
  color: #3D5518; /*dark olive*/
}
.fas {
	color: #3D5518; /*dark olive*/
}
.col-sm-12 {
	background-color: #eddbdbb3; /* white stip */
}

.main-page-div {
  margin-right: 0 !important;
}

.textbox-one {
	padding-right: 2rem;
	padding-left: 2rem;
	padding-top: 0.5rem;
}
.main-title {
	font-family: Signika;
	color: #BB2D04; /*dark red*/
	font-size: 4rem;
}
.main-subtitle {
	font-size: 1.8rem;
	color: #3D5518; /*dark green*/
	font-family: "Ubuntu";
}
.button-container {
	padding-bottom: 1.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
}
#page-divider {
	background-color: #EAAB34; /* golden yellow */
}

@media (min-width: 20em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

#content-boxes {
	padding-right: 4rem;
	padding-left: 4rem;
	padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 48em) {
  #content-boxes {
    padding-right: 0;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}

.page-divider-title {
	color: #3D5518; /*olive green*/
	text-align: center;
	padding-top: 3%;
	font-family: Cuprum;
	padding-bottom:3%;
	font-size: 4rem;
}

@media (max-width: 48em) {
  .page-divider-title {
    padding: 3%;
  }
  .btn {
    width: 100%;
  }
  .button-container > a {
    width : 100%;
  }
  .input-group-append > a{
    width: 100%;
    padding: 0 1rem;
  }
}
.btn-red {
	background-color: #BB2D04; /*dark red*/
	color: white;
	outline-color: #BB2D04; /*dark red*/
	margin-left: 4px;
	margin-right: 4px;
  margin-bottom: 6px;
}
.btn-red:hover {
	background-color: white;
	color: #BB2D04; /*dark red*/
}
.card-columns {
  @media and (min-width: 768px) {
    column-count: 2;
  }
}
.colored-card {
	background-color: #3D5518; /*olive green*/
	color: white;
}
.white-links {
	color: white;
	font-family: "Ubuntu";
}

.white-links:hover {
	color: white;
}

.btn-white {
	background-color: white;
	color: #BB2D04; /*dark red*/
	outline-color: #EAAB34; /*yellow*/
	margin-left: 4px;
	margin-right: 4px;
}
.btn-white:hover {
	color: #3D5518;/*dark green*/
}
.my-p {
	font-family: "Ubuntu";
	margin: 15px;
	font-size: 1.2rem;
}

/* resizes all logos in the project section to fit in the cards*/
.img-resize {
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

#social-media-strip {
  background-color: #EAAB34; /*yellow*/
  height:100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sm-box {
  text-align: center;
}

.sm-icons {
  color: white;
}

.sm-icons:hover {
  color: #3D5518; /*green*/;
  text-decoration: none;
}

#footer {
  background-color: #3D5518; /*olive green*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px;
}

#mailingList {
  padding-top: 40px;
  padding-bottom: 40px;
}

#mailingListText {
  text-align: center;
  color: white;
}

.footer-links-title {
  color: #EAAB34; /*yellow*/
  font-family: "Ubuntu";
  font-weight: bold;
  text-transform: uppercase;
  min-height: 72px;
  margin-bottom: 5px !important;
}

.footer-links {
	color: white;
}

.footer-links:hover {
  color: #EAAB34; /*yellow*/
  text-decoration: none;
}

.footer-copyright {
  font-size: 14px;
  color: #3D5518; /*olive green*/
  text-decoration: none;
  background-color: #EAAB34; /*yellow*/
}

#copyright-images-container {
  background-color: #3D5518; /*olive green*/
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

#copyright-images-container .card {
  margin-top: 15px;
}
#copyright-images-container .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-body-images {
  height: 75px;
  padding-left: 15px;
  padding-right: 15px;
}

.copyrighted-images {
  color: #BB2D04; /*dark red*/
  font-size: 15px;
  text-decoration: none;
}

.copyrighted-images:hover {
  color: #3D5518; /*olive green*/
  text-decoration: none !important;
}

.copyrighted-images-text {
  padding: 15px;
  font-size: 15px;
  text-decoration: none;
}

.copyrighted-images-text:hover {
  text-decoration: none !important;
}
