/*colour scheme
@darkRed: #BB2D04;
@yellow: #EAAB34;
@darkGreen: #3D5518;
@olive: #7A7120;
@lightGreen: #808B2A;
@lightYellow: #EAAB34;*/

/*fonts
Signika - title
Cuprum - title
Monospace - p + text
*/

/*background image size
1920 x 1080
*/

html body {
  height: 100%;
  width: 100%;
}
.row.justify-content-center.align-items-center {
  height: 100%;
  min-height: 100%;
}
#main-page {
	background-image: url('img/kum_2.jpg');
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	height: 100vh;
}
.navbar {
	background-color: #EAAB3499; /* translucent yellow */
}
.nav-link {
	color: black;
	float: right !important;
	font-family: Signika;
	font-size: 24px;
}
.nav-link:hover {
  color: #3D5518; /*dark olive*/
}
.my-links {
	color: #BB2D04; /*dark red*/
}
.my-links:hover {
  color: #3D5518; /*dark olive*/
}
.fas {
	color: #3D5518; /*dark olive*/
}
.col-sm-12 {
	background-color: #eddbdbb3; /* white stip */
}
.textbox-one {
	padding-right: 2rem;
	padding-left: 2rem;
	padding-top: 0.5rem;
}
.my-h1 {
	font-family: Signika;
	color: #BB2D04; /*dark red*/
	font-size: 4rem;
}
.my-h4 {
	font-size: 1.8rem;
	color: #3D5518; /*dark green*/
	font-family: "Ubuntu";
}
.button-container {
	padding-bottom: 1.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
}
#page-divider {
	background-color: #EAAB34; /* golden yellow */
}
#content-boxes {
	padding-right: 5rem;
	padding-left: 5rem;
	padding-top: 2rem;
}
.my-h2 {
	color: #3D5518; /*olive green*/
	text-align: center;
	padding-top: 3%;
	font-family: Cuprum;
	padding-bottom:3%;
	font-size: 4rem;
}
.btn-my-color {
	background-color: #BB2D04; /*dark red*/
	color: white;
	outline-color: #BB2D04; /*dark red*/
	margin-left: 4px;
	margin-right: 4px;
}
.btn-my-color:hover {
	background-color: white;
	color: #BB2D04; /*dark red*/
}
.colored-card {
	background-color: #3D5518; /*olive green*/
	color: white;
}
.my-links-white {
	color: white;
	font-family: "Ubuntu";
}

.my-links-white:hover {
	color: white;
}

.btn-my-color-white {
	background-color: white;
	color: #BB2D04; /*dark red*/
	outline-color: #EAAB34; /*yellow*/
	margin-left: 4px;
	margin-right: 4px;
}
.btn-my-color-white:hover {
	background-color: #EAAB34; /*yellow*/
	color: #3D5518;/*dark green*/
}
.my-p {
	font-family: "Ubuntu";
	margin: 15px;
	font-size: 1.2rem;
}

/* resizes all logos in the project section to fit in the cards*/
.img-resize {
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.my-footer {
  background-color: #3D5518; /*olive green*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#mailingList {
  padding-top: 15px;
}

#mailingListText {
  text-align: center;
  color: white;
}

#sm-box {
  text-align: center;
}

.sm-icons {
  color: white;
}

.sm-icons:hover {
  color: #EAAB34; /*yellow*/
}

.footer-links-title {
  color: white;
  font-family: "Ubuntu";
  font-weight: bold;
  text-transform: uppercase;
}

.footer-links {
	color: white;
}

.footer-links:hover {
  color: #EAAB34; /*yellow*/
  text-decoration: none;

}
